.button {
  border-radius: 8px;
  padding: 8px 30px;
  font-family: inherit;
  font-size: 16px;
  border: none;
  /* background-color: #1a1a1a; */
  cursor: pointer;
  transition: background-color 0.25s;
}

.button:hover,
.button:focus,
.button:focus-visible {
  background-color: #222096;
  outline: 4px auto -webkit-focus-ring-color;
}

.accent {
  background-color: #312eb5;
}